/* Variables globales pour les couleurs et les thèmes */
:root {
    --bg-color: rgb(250, 236, 217);
    --text-color: #333;
    --card-bg: #fff;
    --btn-color: #f38f2a;
    --navbar-color: rgba(253, 246, 237, 0.7);
    --footer-color: rgba(0, 0, 0, 0.05);
}

/* Variables pour le thème sombre */
[data-theme="dark"] {
    --bg-color: rgb(0, 11, 21);
    --text-color: #f0f0f0;
    --card-bg: #2a2a2a;
    --btn-color: #f38f2a;
    --navbar-color: rgba(0, 20, 38, 0.8);
    --footer-color: rgba(0, 0, 0, 0.4);
}

/* Styles globaux pour le corps de la page */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    scroll-behavior: smooth;
    transition: background-color 0.4s ease, color 0.4s ease;
    padding-top: 70px;
}

/* Styles pour la barre de navigation */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background: var(--navbar-color);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    height: 70px;
    box-sizing: border-box;
}

.navbar .left,
.navbar .right {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 1rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    color: var(--btn-color);
    transform: translateY(-3px);
}

.navbar img.logo {
    height: 50px;
    margin: 0 2rem;
}

.navbar .left a span,
.navbar .right a span {
    font-size: 1.4rem;
    border-radius: 50%;
    padding: 6px;
}

.navbar button {
    background-color: var(--btn-color);
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0;
    height: 100%;
    font-size: 13px;
}

.toggle-theme {
    background: none !important;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--text-color) !important;
    padding: 0rem !important;
}

/* Styles pour les sections */
section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#accueil button.clicked {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Styles pour les conteneurs de cartes */
.cards-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.cards {
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    padding: 1rem;
    scroll-behavior: smooth;
    overflow: hidden;
}

.card {
    min-width: 300px;
    background-color: var(--card-bg);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 500px;
    justify-content: space-between;
}

/* Styles pour le carrousel d'images */
.image-carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.image-carousel img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    height: 300px;
}

/* Styles pour le contenu des cartes */
.card-content {
    padding: 1rem;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
}

.card-content h3 {
    font-size: 1.5rem;
    margin: 0rem;
    margin-top: 1rem;
}

.card-content p {
    font-size: 1rem;
    color: var(--text-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Styles pour la partie inférieure des cartes */
.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.price {
    font-size: 1rem;
}

.price span {
    font-weight: bold;
}

/* Styles pour les boutons d'appel à l'action */
.btn-cta {
    padding: 0.8rem 1.2rem;
    background-color: var(--btn-color);
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-cta:hover {
    transform: scale(1.05);
}

/* Styles pour les boutons de navigation */
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-button {
    left: 10px;
}

.right-button {
    right: 10px;
}

.card-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-left-button {
    left: 10px;
}

.card-right-button {
    right: 10px;
}

/* Styles pour la section des avis */
#avis {
    background-color: var(--bg-color);
    text-align: center;
    padding: 1rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    position: relative;
    display: inline-block;
    text-align: center;
}

.avis-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.avis-card {
    background-color: var(--card-bg);
    color: var(--text-color);
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.5rem;
    box-sizing: border-box;
}

.avis-photo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.avis-content {
    position: relative;
    text-align: left;
}

.quote {
    font-size: 5rem;
    color: rgba(80, 158, 184);
    position: absolute;
    top: -40px;
    left: -10px;
    z-index: 0;
}

.avis-content p {
    font-size: 1rem;
    line-height: 1.6;
    position: relative;
    z-index: 1;
}

.auteur {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    text-align: right;
    font-size: 0.9rem;
    color: var(--btn-color);
}

/* Styles pour le pied de page */
footer {
    background-color: var(--footer-color);
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: var(--text-color);
    font-size: 1rem;
}

footer .footer-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer .footer-links a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
    align-items: center;
    display: flex;
}

footer .footer-links a span {
    font-size: 1.4rem;
    padding: 0px 6px;
}

footer .footer-links a:hover {
    color: var(--btn-color);
}

footer .footer-logo img {
    width: 150px;
}

footer .contact-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

footer .contact-info span {
    font-size: 0.9rem;
}

footer .social-icons {
    display: flex;
    gap: 1rem;
}

footer .social-icons a {
    font-size: 1.3rem;
    color: var(--text-color);
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: var(--btn-color);
}

/* Styles pour les boutons d'appel à l'action dans la barre de navigation */
.navbar .right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar .cta-button {
    padding: 0.5rem 1.5rem;
    background-color: var(--btn-color);
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navbar .cta-button:hover {
    transform: rotate(-1deg);
}

/* Styles pour la section d'accueil */
#accueil {
    background: url('../images/background.jpg') center/cover no-repeat;
    color: white;
    min-height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cta-container .cta-logo {
    width: 130px;
}

.cta-button {
    padding: 12px 40px;
    background: linear-gradient(90deg, rgba(255, 159, 47, 1) 20%, rgba(0, 191, 255, 1) 100%);
    border: none;
    color: white;
    font-size: 1.1rem;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    transition: transform 0.4s ease, width 0.4s ease;
    width: auto;
}

.cta-button:hover {
    transform: scale(1.05);
}

/* Styles pour les couleurs de surbrillance */
.highlight-primary {
    color: var(--btn-color);
}

.highlight-secondary {
    color: #509eb8;
}

/* Styles pour le formulaire de contact */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
}

.contact-form label {
    font-size: 1rem;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    padding: 0.75rem;
    border: 1px solid #509eb8;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
}

.contact-form button {
    padding: 0.75rem 1.5rem;
    background-color: var(--btn-color);
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 3rem;
}

.contact-form button:hover {
    transform: scale(1.05);
}